*.exe
*.res
*.lps
*.dbg
*.msi
*.mo
*.tar.gz
/lib
/installer/debsetup/*.deb
/installer/debsetup/DATA/usr/bin/notetask
/installer/rpmsetup/*.rpm
/installer/*.wixobj
/installer/*.wixpdb
/installer/*.pfx
/installer/history/*
