[submodule "libs/helpers"]
	path = libs/helpers
	url = https://github.com/plainlib/helpers.git
	branch = main
[submodule "libs/darkmode"]
	path = libs/darkmode
	url = https://github.com/plainlib/darkmode.git
	branch = main
